html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-l {
    width: 100%;
    height: 570px;
    background-color: white;
}

.main {
    width: 100%;
    height: 90%;
    display: flex;
    background-color: white;
}

.main-div1 {
    height: 100%;
    width: 100%;
    background-image: url(../assets/image.jpg);
    background-size: 100% 100%;
}

.main-div2 {
    height: 500px;
    width: 100%;
    display: none;
}

.tint {
    background-color: rgba(0, 0, 0, 0.39);
    height: 100%;
    width: 100%;
    display: inline-block;
}

.header {
    color: rgba(34, 14, 150, 0.863);
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hire {
    color: white;
    margin-left: 15px;
    margin-top: 70px;
}

.button {
    height: 40px;
    width: 130px;
    background-color: rgba(34, 14, 150, 0.863);
    margin-left: 15px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.down {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(34, 14, 150, 0.863);
    border: 1px solid rgba(34, 14, 150, 0.863);
    color: white;
}

.nav {
    display: flex;
    color: black;
    margin-left: 70%;
}

.nav-link {
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.head {
    display: flex;
}

.signup {
    height: 30px;
    width: 100px;
    background-color: rgba(34, 14, 150, 0.863);
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    margin-left: 25px;
}

.login {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(34, 14, 150, 0.863);
    border: 1px solid rgba(34, 14, 150, 0.863);
    color: white;
}

.main-m {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    height: 570px;
    display: flex;
}

.main-n {
    height: 240px;
    background-color: rgba(0, 0, 0, 0.925);
    padding: 15px;
    display: flex;
}

.workwel {
    background-image: url(../assets/1629469807152.png);
    width: 40%;
    background-size: 100% 100%;
    height: 84%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.workwel-container {
    width: 50%;
    height: 100%;
    margin-top: 50px;
}

.workwel-txt {
    width: 50%;
    height: 100%;
    margin-top: 50px;
    margin-left: 20px;
    color: rgb(5, 4, 10);
}

.feats {
    display: flex;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 15px;
    background-color: rgba(34, 14, 150, 0.863);
    text-align: center;
}

i {
    margin-top: 22%;
    color: white;
    font-size: 1.3rem;
}

.ftxt {
    margin-left: 10px;
    line-height: 3px;
}

footer {
    text-align: center;
}

.nav-ic {
    display: none;
}

.main-o {
    display: flex;
    margin-top: 15px;
    height: 450px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

.main-o1 {
    height: 100%;
    width: 45%;
    margin: 30px;
    background-color: white;
}

.main-o1 h2 {
    font-weight: 400;
}

.main-o1 h4 {
    font-weight: 400;
}

.find {
    background-image: url('../assets/mostafa-mahmoudi-o0VQhMG4ANE-unsplash.jpg');
    height: 55%;
    width: 100%;
    background-size: 100% 100%;
}

.found {
    background-image: url('../assets/designecologist-YHd66D4gMMU-unsplash.jpg');
    height: 55%;
    width: 100%;
    background-size: 100% 100%;
}

.main-p {
    width: 95%;
    height: 350px;
    margin: 0 auto;
    display: flex;
}

.main-p1 {
    height: fit-content;
    margin-left: 5%;
    margin-top: 20px;
}

.main-p1 h3 {
    font-weight: 500;
    color: gray;
}

.main-p1 h5 {
    font-weight: 400;
    color: black;
}

.main-p1 i {
    font-size: larger;
    color: black;
}

@media only screen and (max-device-width:768px) {
    .main-o {
        flex-direction: column;
        height: 1350px;
    }
    .main-p {
        flex-direction: column;
        height: 1850px;
    }
    .main-o1 {
        width: 90%;
        height: 100%;
    }
    .main-p1 {
        margin: 10px;
        height: 500px;
    }
    .main-p1 h3 {
        font-size: 37px;
    }
    .main-p1 i {
        font-size: 42px;
    }
    .main-p1 h5 {
        font-size: 30px;
    }
    .main-o1 h2 {
        font-size: 38px;
    }
    .main-o1 h4 {
        font-size: 30px;
    }
    .main {
        flex-direction: column;
        height: 1250px;
    }
    .main-l {
        width: 100%;
        height: fit-content;
    }
    .hire {
        color: white;
        margin-top: 30%;
    }
    .button {
        height: 90px;
        width: 190px;
        background-color: rgba(34, 14, 150, 0.863);
        margin-left: 15px;
        border-radius: 5px;
        color: white;
        text-align: center;
    }
    .hire h1 {
        font-size: 48px;
    }
    .hire h5 {
        font-size: 30px;
    }
    .nav-link {
        font-size: 24px;
    }
    .ftxt h4 {
        font-size: 24px;
    }
    .ftxt h5 {
        font-size: 20px;
    }
    .feats {
        height: fit-content;
    }
    .ftxt {
        line-height: 5px;
    }
    .circle {
        margin-top: 25px;
    }
    .main-div1 {
        height: 100%;
        width: 100%;
        background-image: url(../assets/image.jpg);
        background-size: 100% 100%;
    }
    .main-div2 {
        height: 500px;
        width: 100%;
        display: none;
    }
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .main-m {
        flex-direction: column;
        height: fit-content;
    }
    .workwel {
        background-image: url(../assets/1629469807152.png);
        width: 60%;
        background-size: 100% 100%;
        height: 930px;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .workwel-container {
        width: 100%;
        height: fit-content;
    }
    .header {
        font-size: 24px;
    }
    .workwel-txt {
        width: 100%;
    }
    .feats {
        margin: 0 auto;
        width: 60%;
        flex-direction: column;
        text-align: center;
        height: fit-content;
    }
    .fff {
        text-align: center;
        font-size: 42px;
    }
    .footNav h5 {
        font-size: 20px;
    }
    .footNav h3 {
        font-size: 24px;
    }
    .main-n {
        height: fit-content;
    }
    footer {
        margin-bottom: 5px;
    }
    .down p {
        font-size: 25px;
    }
    .circle {
        margin: 0 auto;
        height: 100px;
        width: 100px;
        background-color: white;
        box-shadow: none;
    }
    i {
        font-size: 5rem;
        margin-top: 25%;
        color: black;
    }
    .ftxt h4 {
        font-size: 35px;
    }
    .ftxt h5 {
        font-size: 30px;
        font-weight: 600;
    }
    .ftxt {
        line-height: 38px;
    }
    .footNav h3 {
        font-size: 40px;
    }
    .footNav h5 {
        font-size: 35px;
    }
    .header h2 {
        font-size: 45px;
    }
    .nav {
        margin-left: 48%;
    }
    .nav-link {
        font-size: 25px;
    }
    .nav-ic {
        font-size: 45px;
        color: rgb(6, 2, 20);
        margin-left: 27px;
        margin-top: 5px;
        display: block;
    }
    .nav-tx {
        display: none;
    }
}